.viewport-height {
    min-height: 100vh;
}

.custom-container {
    max-width: 640px;
    margin: 0 auto;
}

.reaction-title {
    letter-spacing: 20px;
    text-indent: 20px;
}

.dragend-page {
    height: auto !important;
}
.dragend-page.inactive {
    display: none;
}

.input-wrap {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
